*{
  margin:0px;
  box-sizing: border-box;
  padding:0px;
  font-family: ‘Open Sans’, sans-serif;
}

header{
  width:100vw;
  height: 30px;
  margin-bottom: 10px;
}

header h1{
  color:#2B4E80;
  text-align: center;
}

main{
  width: 57%;
  margin: auto;
  height: 400px;
  display: flex;
  justify-content: center;
}

#left-side{
  width: 49%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #E6ECF4;
}

#left-side p{
  text-align: center;
  font-size: 35px;
}

#user-question{
  text-align: center;
  height:8%;
  margin:5px 10px 5px 10px;
  font-size: 20px;
}

.submit-answer{
  background-color:#2B4E80;
  color:white;
  height:8%;
  margin:0px 10px 0px 10px;
  font-size: 17px;
}

.submit-answer:hover {
  background-color: #1C3455;
  color: white;
}

.submit-answer:disabled{
background-color: #607AA0;
}

.answer{
  display:none;
}

#eight-ball{
  width: 45%;
  margin:auto;
}

#clear{
  width:20%;
  margin: 0% 0% 5% 78%;
  height:7%;
  background-color: #DE4841;
  color:white;
}

#clear:disabled{
  background-color: #D0CDCD;
}

#right-side{
  width: 49%;
  margin: auto;
  height: 100%;
  justify-content: center;
}

#woody{
  width: 70%;
  margin-left: 5em;
}
